{% extends 'base.html.twig' %}

{% block title %}Lv3 index{% endblock %}

{% block body %}
    <h1>Lv3 index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Niveau</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lv3 in lv3s %}
            <tr>
                <td>{{ lv3.id }}</td>
                <td>{{ lv3.niveau }}</td>
                <td>
                    <a href="{{ path('lv3_show', {'id': lv3.id}) }}">show</a>
                    <a href="{{ path('lv3_edit', {'id': lv3.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('lv3_new') }}">Create new</a>
{% endblock %}
