{% extends 'base.html.twig' %}

{% block title %}Personnel index{% endblock %}

{% block body %}
    <h1>Personnel index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Statut</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for personnel in personnels %}
            <tr>
                <td>{{ personnel.id }}</td>
                <td>{{ personnel.nom }}</td>
                <td>{{ personnel.prenom }}</td>
                <td>{{ personnel.statut }}</td>
                <td>{{ personnel.description }}</td>
                <td>
                    <a href="{{ path('personnel_show', {'id': personnel.id}) }}">show</a>
                    <a href="{{ path('personnel_edit', {'id': personnel.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('personnel_new') }}">Create new</a>
{% endblock %}
