<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Responsive Resume</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<!--Custom fonts. To improve load times, remove this and update the h1 styling in style.css--> 
	<link href='http://fonts.googleapis.com/css?family=Lato:300,700' rel='stylesheet' type='text/css'>
	<!-- stylesheets -->
	<link type="text/css" rel="stylesheet" href="{{asset('style.css')}}">
	
	<!-- favicon -->
	<link rel="shortcut icon" href="{{asset('img/favicon.ico')}}">
	
	<!-- just in case viewer is using Internet Explorer -->
	<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

</head>

<body>
	<!-- Header-->
	<header>
		<h1>{{personnel.getNom()}}  {{personnel.getPrenom()}}</h1>
		<p>{{personnel.getStatut()}}
		
			{% if is_granted('ROLE_ADMIN') %}
				 <a href="{{ path('personnel_edit',{ 'id':personnel.getId()} )}}" target="_blank">Edite</a>
				 <a href="{{ path('personnel_delete',{ 'id':personnel.getId()} )}}" target="_blank">Remove</a>
			{% endif %}
		
		</p>
			
	</header>
	
	<div class="container">
		
		<!-- Introduction-->
		<section class="center">
			<h1>Welcome!</h1>
			<p>
				{{personnel.getDescription()}}
			</p>
		</section>
		<hr>
		
		<!-- Gallery Block-->
		<section class="gallery">
			<h1 class="center">Gallery</h1>
			<div class="row">
				<a href="#"><img src="{{asset('img/re.png')}}" class="grid-2"></a>
				<a href="#"><img src="{{asset('img/re.png')}}" class="grid-2"></a>
				<a href="#"><img src="{{asset('img/re.png')}}" class="grid-2"></a>
				<a href="#"><img src="{{asset('img/re.png')}}" class="grid-2"></a>
				<a href="#"><img src="{{asset('img/re.png')}}" class="grid-2"></a>
				<a href="#"><img src="{{asset('img/re.png')}}" class="grid-2"></a>
			</div>
		</section>
		
		<hr>
		
	</div> <!-- End container-->
	
	<!-- Spotlight -->
	<section class="spotlight">
		<div class="container">
			<div class="row">
				<div class="grid-3">
					<img src="{{asset('img/spotlight.jpg')}}">
				</div>
				<div class="grid-3">
					<h1>Project Spotlight</h1>
					<p>Give a brief description of what this project is and what role you played. It can also be helpful to include a link</p>
					<a href="#">View Project</a>
				</div>
			</div>
		</div>
	</section>
	
	
	<!-- New container-->
	<div class="container">
		<!-- Testimonials-->	
		<section class="testimonial">
			<h1 class="center">Langues</h1>
			<div class="row">
				<div class="grid-2">
					<img src="{{asset('img/re.png')}}">
					<h2>{{personnel.getLangue()}}</h2>
				</div>
				
				<div class="grid-2">
					<img src="{{asset('img/re.png')}}">
					<h2>{{personnel.getLangue2()}}</h2>
				</div>
		
				<div class="grid-2">
					<img src="{{asset('img/re.png')}}">
					<h2>{{personnel.getLangue3()}}</h2>
				</div>
			</div>
		</section>
	
				<!--Loisirs Tables-->
		<section class="experience">
			<h1 class="center">Experiences Professionnel</h1>
			<div class="center"> 
				{% if is_granted('ROLE_ADMIN') %}
					<a href="{{path('experience_new')}}" target="_blank">Create</a>
				{% endif %}
			</div>
				{% for loisir in loisirs %}
                	<div class="row">
						<div class="grid-2">
							<h2>{{loisir.getTitle()}}</h2>
							<p>{{ loisir.getYear()|date('Y-m-d')}}</p>
							{% if is_granted('ROLE_ADMIN') %}
								 <a href="{{ path('loisirs_edit',{ 'id':loisir.getId()} )}}" target="_blank">Edite</a>
								 <a href="{{ path('loisirs_delete',{ 'id':loisir.getId()} )}}" target="_blank">Remove</a>
							{% endif %}
						</div>
						<div class="grid-4">
							<ul>
								<li>{{loisir.getApport()}}</li>
							</ul>
						</div>
					</div>
                {% endfor %}
		</section>
		
		<hr>
			
		<!--Experience Tables-->
		<section class="experience">
			<h1 class="center">Experiences Professionnel</h1>
			<div class="center"> 
				{% if is_granted('ROLE_ADMIN') %}
					<a href="{{path('experience_new')}}" target="_blank">Create</a>
				{% endif %}
			</div>
				{% for experience in experiences %}
                	<div class="row">
						<div class="grid-2">
							<h2>{{experience.getTitle()}}</h2>
							<p>{{ experience.getDatedebut()|date('Y-m-d') }} - 	{{ experience.getDatefin|date('Y-m-d') }}</p>
							{% if is_granted('ROLE_ADMIN') %}
							 	<a href="{{ path('experience_edit',{ 'id':experience.getId()} )}}" target="_blank">Edite</a>
							 	<a href="{{ path('experience_delete',{ 'id':experience.getId()} )}}" target="_blank">Remove</a>
							{% endif %}
						</div>
						<div class="grid-4">
							<ul>
								<li>{{experience.getApport()}}</li>
							</ul>
						</div>
						<div class="grid-4">
							<p>
								{{experience.getDescription()}}
							</p>
						</div>
						
					</div>
                {% endfor %}
		</section>
		
		<hr>
		
		<section>
			<!--List of skills-->
			<div class="row">
				<div class="grid-2">
					<h1>Skills</h1>
					<ul>
						<li>HTML</li>
						<li>CSS</li>
						<li>Javascript</li>
						<li>Angular.js</li>
						<li>Photoshop</li>
						<li>Git</li>
					</ul>
				</div>
				
				<div class="grid-4">
					<h1>In Conclusion</h1>
					<p>
						This is a good spot to highlight experiance and skills. Make sure to include a call to action like a link to your website, or your email address.
						If you find bugs, want features, or have questions, feel free to submit an <a href="https://github.com/philipcdavis/responsive-resume/issues">issue</a>. You are free to use without attribution.
						If you're ok sharing, I would love seeing what you make! Shoot me an
						<a href="mailto:Phillysoul11@gmail.com?Subject=Responsive%20Resume" target="_top">email</a> or
						<a href="http://www.twitter.com/philipcdavis">tweet</a> at me.
					</p>
					<ul>
						<li>email: <a href="" target="_blank">  {{personnel.getMail()}}</a></li>
						<li>website: <a href="http://www.bloggs.com"> {{personnel.getSite}}</a></li>
						<li>mail:{{personnel.getTelephone()}}</li>
					</ul>
				</div>
			</div>
		</section>
		
		
		
		<!--Footer-->
		<footer class="center">
			<hr>
			<span>&copy; {{personnel.getNom()}}  {{personnel.getPrenom()}} 2018</span>
		</footer>
		
	</div><!-- End Container -->
	
</body>
</html>
